@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">手机号码：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtphone" class="layui-input" type="text" placeholder="输入手机号码" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">账号名称：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtnickname" class="layui-input" type="text" placeholder="账号名称" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn" data-power="Add"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-power="Delete" lay-event="del">删除</a>
</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
}
@section js{
    <!-- js部分 -->
    <script>
layui.use(['form', 'util', 'admin', 'adminList'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'Account_Name', title: '账号', sort: true },
            { field: 'Pwd_Display', title: '密码', sort: true },
            {
                field: 'IsUseed', title: '是否被绑定', sort: true, templet: function (d) {
                    return d.IsUseed == 1 ? '是' : '<span style="padding: 2px 5px 2px 5px;background: #009688;color:white;">否</span>';
                } },
            { field: 'Mobile', title: '绑定手机号码', sort: true, width: 150},
            { field: 'CreateTime', title: '创建时间', sort: true },
            {align: 'center', toolbar: '#tableBar', title: '操作', width: 200}
        ]]
    });

    // 添加
    $('#btnAdd').click(function () {
        showEditModel();
    });

    // 搜索
    $('#btnSearch').click(function () {
        var txtphone = $('#txtphone').val();
        var txtnickname = $('#txtnickname').val();
        insTb.reload({
            where: { txtphone: txtphone, txtnickname: txtnickname }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.Account_Uid);
        }
    });

    //显示表单弹窗
    function showEditModel(mUser) {
        adminList.form({
            title: (mUser ? '修改' : '添加') + '用户',
            type: 2,
            width: "500px",
            height: "600px",
            content: mUser ? '@Url.Action("Edit")?ID=' + mUser.Account_Uid : '@Url.Action("Add")?ID=0',
            end: function () {
                insTb.reload();
            }
        });
    }
    //删除
    function doDel(accountId) {
        adminList.delete('@Url.Action("Delete")', { accountId: accountId}, function () {
            insTb.reload();
        });
    }

});
    </script>
}