<!-- 正文开始 -->
<div class="error-page">
    <img class="error-page-img" src="~/assets/images/ic_403.svg">
    <div class="error-page-info">
        <h1>403</h1>
        <div class="error-page-info-desc">抱歉，你无权访问此页面</div>
        @*<div>
                <button ew-href="page/console/console.html" class="layui-btn">返回首页</button>
            </div>*@
    </div>
</div>
@section css{
    <link rel="stylesheet" href="~/assets/css/error-page.css" />
}

@section js{

}