.paragraphs-item-hero-banner {
    align-items: center;
    display: block;
    overflow: hidden;
    padding: 0 !important;
    position: relative
}

    .paragraphs-item-hero-banner:hover .paragraphs-item-hero-banner--link {
        right: 20px
    }

    .paragraphs-item-hero-banner .paragraphs_item__title {
        font-size: 2.14286em;
        font-weight: 700;
        line-height: 1.2em
    }

.paragraphs-item-hero-banner--denim {
    background-color: #1077d0 !important;
    color: #fff
}

    .paragraphs-item-hero-banner--denim::after {
        background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%208.58527%2C16.584L%2013.1713%2C11.998L%208.58527%2C7.41198L%209.99927%2C5.99798L%2015.9993%2C11.998L%209.99927%2C17.998L%208.58527%2C16.584%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') center/contain no-repeat
    }

    .paragraphs-item-hero-banner--denim .paragraphs-item-hero-banner__left::before {
        background-color: #1077d0
    }

    .paragraphs-item-hero-banner--denim .paragraphs_item__title {
        color: #fff
    }

.paragraphs-item-hero-banner--slate {
    background-color: #1f2935 !important;
    color: #fff
}

    .paragraphs-item-hero-banner--slate::after {
        background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23e00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%208.58527%2C16.584L%2013.1713%2C11.998L%208.58527%2C7.41198L%209.99927%2C5.99798L%2015.9993%2C11.998L%209.99927%2C17.998L%208.58527%2C16.584%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') center/contain no-repeat
    }

    .paragraphs-item-hero-banner--slate .paragraphs-item-hero-banner__left::before {
        background-color: #1f2935
    }

    .paragraphs-item-hero-banner--slate .paragraphs_item__title {
        color: #fff
    }

.paragraphs-item-hero-banner--purple {
    background-color: #752482 !important;
    color: #fff
}

    .paragraphs-item-hero-banner--purple strong {
        color: #fbaf17
    }

    .paragraphs-item-hero-banner--purple::after {
        background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fbaf17%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%208.58527%2C16.584L%2013.1713%2C11.998L%208.58527%2C7.41198L%209.99927%2C5.99798L%2015.9993%2C11.998L%209.99927%2C17.998L%208.58527%2C16.584%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') center/contain no-repeat
    }

    .paragraphs-item-hero-banner--purple .paragraphs-item-hero-banner__left::before {
        background-color: #752482
    }

    .paragraphs-item-hero-banner--purple .paragraphs_item__title {
        color: #fff
    }

.paragraphs-item-hero-banner--slim-slate .paragraphs-item-hero-banner__content {
    align-items: center;
    background-color: #1f2935 !important;
    color: #fff;
    display: flex;
    justify-content: space-between
}

.paragraphs-item-hero-banner--slim-slate .paragraphs_item__title {
    color: #fff;
    text-transform: uppercase
}

.paragraphs-item-hero-banner--slim-slate .paragraphs_item__body {
    color: #fbaf17
}

.paragraphs-item-hero-banner--slim .paragraphs_item__title {
    text-transform: uppercase
}

.paragraphs-item-hero-banner--slim .paragraphs_item__body {
    font-size: 2.14286em;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase
}

.paragraphs-item-hero-banner--slim .paragraphs-item-hero-banner__content {
    padding: 1.28571em 2.14286em
}

.paragraphs-item-hero-banner--slim .paragraphs-item-hero-banner__right {
    flex: 0 0 auto
}

.paragraphs-item-hero-banner--slim .paragraphs_item__icon {
    margin: 0 auto 0 0;
    padding: 0 1em
}

.paragraphs-item-hero-banner--slim .button {
    position: relative
}

.paragraphs-item-hero-banner--image {
    background-position: center;
    background-size: cover
}

    .paragraphs-item-hero-banner--image::before {
        background-image: linear-gradient(to top,#343434 0%,#ffffff 100%);
        bottom: -1px;
        content: '';
        left: -1px;
        position: absolute;
        right: -1px;
        top: -1px
    }

    .paragraphs-item-hero-banner--image.background-image--loaded::before {
        background-image: linear-gradient(to top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%)
    }

    .paragraphs-item-hero-banner--image > .wrapper {
        display: flex;
        flex-direction: column;
        height: 36rem;
        justify-content: flex-end;
        min-height: 36rem;
        padding-bottom: 1.71429em;
        padding-top: 1.71429em;
        width: 100%
    }

@supports(max-width:600px) {
    .paragraphs-item-hero-banner--image > .wrapper {
        height: auto
    }
}

.paragraphs-item-hero-banner--image .paragraphs_item__title, .paragraphs-item-hero-banner--image .paragraphs_item__body {
    color: #fff
}

.paragraphs-item-hero-banner--image .paragraphs_item__title {
    flex: 0 0 auto;
    font-size: 2.14286em
}

.paragraphs-item-hero-banner--image .paragraphs_item__body {
    font-size: 1.25em;
    position: relative
}

.paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left, .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__right {
    overflow: hidden
}

.paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 50%
}

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left::before {
        bottom: 0;
        content: "";
        height: 100%;
        margin: auto;
        position: absolute;
        left: calc(100% - 120px);
        top: 0;
        transform: skew(16deg);
        width: 100%;
        z-index: 1
    }

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__icon {
        align-items: center;
        bottom: 0;
        content: "";
        display: flex;
        height: 180px;
        justify-content: center;
        margin: auto;
        position: absolute;
        left: calc(100% - 210px);
        top: 0;
        width: 180px;
        z-index: 1
    }

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__picture {
        line-height: 0
    }

        .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__picture .lazy-load {
            height: 100% !important;
            max-width: none;
            position: absolute;
            width: 500% !important
        }

            .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__picture .lazy-load img {
                height: 100%;
                margin: auto 0
            }

.paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__right {
    float: right;
    padding: 70px 70px 70px 0;
    width: 50%
}

.paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim).paragraphs-item-hero-banner--link {
    cursor: pointer
}

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim).paragraphs-item-hero-banner--link::after {
        content: '';
        height: 5em;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        transition: right .4s;
        visibility: visible;
        width: 5em
    }

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim).paragraphs-item-hero-banner--link:hover::after {
        right: 20px
    }

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim).paragraphs-item-hero-banner--link .paragraphs-item-hero-banner__right {
        padding-right: 170px !important
    }

@media all and (max-width:1200px) {
    .paragraphs-item-hero-banner {
        display: flex
    }

        .paragraphs-item-hero-banner .paragraphs_item__title {
            font-size: 1.57143rem;
            font-weight: 500
        }

        .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left {
            flex: 0 1 auto;
            padding: 0 35px;
            position: relative;
            width: auto
        }

            .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__picture {
                display: none
            }

            .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__icon {
                bottom: auto;
                left: auto;
                position: relative;
                right: auto;
                top: auto
            }

        .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__right {
            flex: 2 0 20%;
            float: none;
            width: auto
        }

    .paragraphs-item-hero-banner--slim .paragraphs-item-hero-banner__content {
        flex-direction: column
    }

    .paragraphs-item-hero-banner--slim .paragraphs_item__icon {
        display: none
    }

    .paragraphs-item-hero-banner--image .paragraphs_item__title {
        font-size: 2.14286em
    }
}

@media all and (max-width:650px) {
    .paragraphs-item-hero-banner {
        display: block;
        font-size: .9em
    }

    .paragraphs-item-hero-banner--denim {
        background: #1077d0
    }

    .paragraphs-item-hero-banner--slate {
        background: #1f2935
    }

    .paragraphs-item-hero-banner--purple {
        background: #752482
    }

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left {
        margin-bottom: 20px;
        position: relative;
        width: 100%
    }

        .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left::before {
            display: none
        }

        .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__picture {
            display: none
        }

        .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__left .paragraphs_item__icon {
            bottom: auto;
            height: 100px;
            left: 0;
            margin-top: 20px;
            position: relative;
            right: 0;
            top: auto;
            width: 100px
        }

    .paragraphs-item-hero-banner:not(.paragraphs-item-hero-banner--slim) .paragraphs-item-hero-banner__right {
        padding: 20px 100px 40px 40px;
        width: 100%
    }
}

#edit-field-paragraphs .paragraphs-item-hero-banner--slate, #edit-field-paragraphs .paragraphs-item-hero-banner--denim, #edit-field-paragraphs .paragraphs-item-hero-banner--purple {
    color: #000;
    background-color: transparent !important
}

    #edit-field-paragraphs .paragraphs-item-hero-banner--slate::after, #edit-field-paragraphs .paragraphs-item-hero-banner--denim::after, #edit-field-paragraphs .paragraphs-item-hero-banner--purple::after {
        background: 0 0
    }

.entity-paragraphs-item.paragraphs-item-content-blocks {
    margin: 5.375rem 0
}

    .entity-paragraphs-item.paragraphs-item-content-blocks:first-child {
        margin-top: 5.375rem
    }

.landing-block-highlight .brick__image {
    border-bottom: solid 5px #e00023
}

.brick__footer {
    display: none
}

@media all and (max-width:720px) {
    .node-type-landing-page .brick-grid .brick--advertisement, .node-type-landing-page .landing-grid .brick--advertisement {
        display: block
    }
}

.node-type-landing-page .brick-grid .brick--advertisement .mpu__description, .node-type-landing-page .landing-grid .brick--advertisement .mpu__description {
    align-self: center;
    background-color: #1f2935;
    color: #fff;
    padding: 0 5px
}

    .node-type-landing-page .brick-grid .brick--advertisement .mpu__description a, .node-type-landing-page .landing-grid .brick--advertisement .mpu__description a {
        color: #009fe3
    }

.node-type-landing-page .section--content .brick--heavy .brick__wrapper {
    background: #fff
}

.node-type-landing-page .section--content .brick--heavy .brick__wrapper--has-background {
    background-clip: content-box
}

.node-type-landing-page .section--content .brick--heavy.brick--no-image .brick__wrapper--has-background {
    background-clip: padding-box
}

.node-type-landing-page .article--landing-page {
    margin-top: -15px
}

    .node-type-landing-page .article--landing-page .brick-grid .brick__wrapper {
        background-clip: border-box;
        box-shadow: 0 7px 25px 0 rgba(0,0,0,.25);
        overflow: hidden;
        border-radius: 5px;
        transition: box-shadow .5s linear
    }

        .node-type-landing-page .article--landing-page .brick-grid .brick__wrapper .brick__content {
            color: #666;
            font-weight: 200
        }

        .node-type-landing-page .article--landing-page .brick-grid .brick__wrapper .bean__body p:last-child {
            margin-bottom: 0
        }

    .node-type-landing-page .article--landing-page .brick-grid [data-container-link] {
        cursor: pointer
    }

        .node-type-landing-page .article--landing-page .brick-grid [data-container-link]:hover .brick__wrapper {
            box-shadow: 0 20px 30px 0 rgba(0,0,0,.5)
        }

[data-container-link] {
    cursor: pointer
}

.brick--contact-us---mpc {
    min-width: 300px !important
}

.brick--contact-us---connect-with-us .content-columns {
    display: block !important;
    margin: 0 !important
}

.brick--contact-us---connect-with-us .content-columns__column {
    display: block !important;
    width: auto !important;
    max-width: 100% !important;
    padding: 0 !important;
    flex: none !important
}

.brick--contact-us---mpc .brick__image {
    display: none
}

.node-type-landing-page .brick-grid .brick--heavy .entity-paragraphs-item.paragraphs-item-mpc {
    width: auto;
    margin: -1.085em -1.28571em 0
}

    .node-type-landing-page .brick-grid .brick--heavy .entity-paragraphs-item.paragraphs-item-mpc .asset-video {
        display: block
    }

    .node-type-landing-page .brick-grid .brick--heavy .entity-paragraphs-item.paragraphs-item-mpc .asset__details {
        padding: 1em
    }

        .node-type-landing-page .brick-grid .brick--heavy .entity-paragraphs-item.paragraphs-item-mpc .asset__details .asset__secondary_title {
            font-size: 18px
        }

        .node-type-landing-page .brick-grid .brick--heavy .entity-paragraphs-item.paragraphs-item-mpc .asset__details .asset__summary {
            font-size: 14px;
            margin-bottom: 3em;
            display: block
        }

div.brick-grid {
    margin: 0 -15px
}

    div.brick-grid .brick__image {
        height: 165px
    }

    div.brick-grid .brick--heavy {
        background: #f5f5f5
    }

    div.brick-grid .brick {
        max-height: initial;
        min-width: 250px;
        margin: 15px;
        flex: initial;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        display: inline-block;
        border: 0;
        box-sizing: content-box;
        -webkit-flex-basis: inherit;
        flex-basis: inherit;
        background: 0 0
    }

        div.brick-grid .brick .brick__wrapper {
            height: 100%
        }

        div.brick-grid .brick .brick {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 20px
        }

            div.brick-grid .brick .brick:last-child {
                margin-bottom: 0
            }

    div.brick-grid .brick--full-width {
        -webkit-flex-basis: calc(100% - 30px);
        flex-basis: calc(100% - 30px)
    }

    div.brick-grid .brick--half-width {
        -webkit-flex-basis: calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }

    div.brick-grid .brick--two-thirds-width {
        -webkit-flex-basis: calc(66.666666% - 30px);
        flex-basis: calc(66.666666% - 30px)
    }

    div.brick-grid .brick--third-width {
        -webkit-flex-basis: calc(33.333333% - 30px);
        flex-basis: calc(33.333333% - 30px)
    }

    div.brick-grid .brick--fourth-width {
        -webkit-flex-basis: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
        max-width: 600px
    }

    div.brick-grid .brick--advertisement {
        min-width: 320px
    }

        div.brick-grid .brick--advertisement .brick__wrapper {
            padding: 10px;
            background: 0 0 !important;
            box-shadow: none !important
        }

        div.brick-grid .brick--advertisement .brick__title {
            max-width: 300px;
            margin: 0 auto .4em;
            font-size: 12px;
            color: #999;
            font-weight: 400
        }

@media all and (max-width:1050px) {
    div.brick-grid .brick--half-width, div.brick-grid .brick--two-thirds-width {
        -webkit-flex-basis: calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }
}

@media all and (max-width:790px) {
    div.brick-grid .brick--half-width, div.brick-grid .brick--two-thirds-width, div.brick-grid .brick--third-width, div.brick-grid .brick--fourth-width, div.brick-grid .brick--advertisement {
        -webkit-flex-basis: calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }
}

@media all and (max-width:640px) {
    div.brick-grid .brick--half-width, div.brick-grid .brick--two-thirds-width, div.brick-grid .brick--third-width, div.brick-grid .brick--fourth-width, div.brick-grid .brick--advertisement {
        -webkit-flex-basis: calc(100% - 30px);
        flex-basis: calc(100% - 30px)
    }
}

div.brick-grid .brick--advertisement {
    max-width: 320px
}

@media(max-width:840px) {
    div.brick-grid .brick--advertisement {
        margin: 10px auto
    }
}

div.brick-grid .brick--variable-width {
    width: auto
}

@media(min-width:1500px) {
    div.brick-grid .brick--variable-width {
        flex-basis: calc(50% - 30px)
    }
}

.landing-grid {
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap
}

@supports(display:grid) {
    .landing-grid {
        display: grid
    }
}

.landing-grid .brick--default {
    background: 0 0;
    font-size: 16px;
    min-height: 273px
}

@supports(display:grid) {
    .landing-grid .brick--default {
        min-height: 0
    }
}

.landing-grid .brick--default.brick--advertisement {
    min-width: 320px
}

.landing-grid .brick--default.brick--no-image .brick__wrapper {
    background-color: #fff;
    justify-content: flex-start
}

.landing-grid .brick--default.brick--no-image .brick__title a {
    color: #000
}

.landing-grid .brick--default.brick--no-image .brick__content div {
    color: #666;
    line-height: 1.3em
}

.landing-grid .brick--default .brick__wrapper {
    border-radius: 2em;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.25);
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: end;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    min-height: 273px;
    overflow: hidden;
    padding: 2.857rem;
    position: relative;
    transition: box-shadow .5s linear
}

@supports(display:grid) {
    .landing-grid .brick--default .brick__wrapper {
        min-height: 0
    }
}

.landing-grid .brick--default .brick__wrapper .bean__body p:last-child {
    margin-bottom: 0
}

@media screen and (max-width:720px) {
    .landing-grid .brick--default .brick__wrapper {
        padding: 1.28571rem
    }
}

.landing-grid .brick--default .brick__image {
    background-position: 50% 50%;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%
}

    .landing-grid .brick--default .brick__image::before {
      /*  background-image: linear-gradient(to top,#343434 0%,#ffffff 100%);*/
        bottom: -1px;
        content: '';
        left: -1px;
        position: absolute;
        right: -1px;
        top: -1px
    }

    .landing-grid .brick--default .brick__image.background-image--loaded::before {
      /*  background-image: linear-gradient(to top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%)*/
    }
    .landing-grid .brick--default .brick__image.case::before {
          background-image: linear-gradient(to top,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%)
    }

@media screen and (max-width:720px) {
    .landing-grid .brick--default .brick__image.background-image--loaded::before {
       /* background-image: linear-gradient(to top,rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.2) 100%)*/
    }
    .landing-grid .brick--default .brick__image.case::before {
         background-image: linear-gradient(to top,rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.2) 100%)
    }
}

.landing-grid .brick--default .brick__title, .landing-grid .brick--default .brick__content {
    position: relative
}

.landing-grid .brick--default .brick__title {
    font-size: 1.875em;
    margin-bottom: .1em
}

    .landing-grid .brick--default .brick__title a {
        color: #fff
    }

@media screen and (max-width:720px) {
    .landing-grid .brick--default .brick__title {
        font-size: 1.42857em
    }
}

.landing-grid .brick--default .brick__content {
    font-weight: 200
}

    .landing-grid .brick--default .brick__content div {
        color: #fff
    }

@media screen and (max-width:720px) {
    .landing-grid .brick--default:not(.brick--no-image) .brick__content {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden
    }
}

.landing-grid [data-container-link] {
    cursor: pointer
}

    .landing-grid [data-container-link]:hover .brick__wrapper {
        box-shadow: 0 20px 30px 0 rgba(0,0,0,.5)
    }

.landing-grid .brick--advertisement {
    min-width: 320px
}

    .landing-grid .brick--advertisement .brick__wrapper {
        background: 0 0 !important;
        border-radius: 0;
        box-shadow: none !important;
        padding: 10px
    }

    .landing-grid .brick--advertisement .brick__title {
        color: #999;
        font-size: 12px;
        font-weight: 400;
        margin: 0 auto .4em;
        max-width: 300px
    }

.landing-grid .brick--teaser:hover .brick__wrapper {
    box-shadow: none
}

.landing-grid .brick--teaser .brick__image {
    margin: 0 0 1em;
    min-height: 18rem
}

.landing-grid .brick--teaser .brick__secondary-link:link, .landing-grid .brick--teaser .brick__secondary-link:visited {
    color: #1077d0
}

    .landing-grid .brick--teaser .brick__secondary-link:link::after, .landing-grid .brick--teaser .brick__secondary-link:visited::after {
        background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%231077d0%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%208.58527%2C16.584L%2013.1713%2C11.998L%208.58527%2C7.41198L%209.99927%2C5.99798L%2015.9993%2C11.998L%209.99927%2C17.998L%208.58527%2C16.584%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') center bottom/16px no-repeat
    }

.landing-grid .brick--teaser .brick__secondary-link:hover {
    color: #e00023
}

    .landing-grid .brick--teaser .brick__secondary-link:hover::after {
        background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23e00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%208.58527%2C16.584L%2013.1713%2C11.998L%208.58527%2C7.41198L%209.99927%2C5.99798L%2015.9993%2C11.998L%209.99927%2C17.998L%208.58527%2C16.584%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') center bottom/16px no-repeat
    }

.landing-grid .brick--teaser .brick__secondary-link::after {
    content: '';
    height: 16px;
    padding-right: 16px;
    transition: background .2s
}

.landing-grid--01 {
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 15px auto
}

    .landing-grid--01 .brick {
        -ms-flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        margin: 15px;
        max-width: calc(100% - 30px);
        min-width: 250px
    }

    .landing-grid--01 .brick--advertisement {
        max-width: 360px
    }

@media(max-width:640px) {
    .landing-grid--01 .brick {
        -ms-flex: 1 0 calc(100% - 30px);
        -webkit-flex: 1 0 calc(100% - 30px);
        flex: 1 0 calc(100% - 30px)
    }
}

@media(min-width:640px) and (max-width:790px) {
    .landing-grid--01 .brick:nth-child(4), .landing-grid--01 .brick:nth-child(5), .landing-grid--01 .brick:nth-child(6), .landing-grid--01 .brick:nth-child(7), .landing-grid--01 .brick:nth-child(8), .landing-grid--01 .brick:nth-child(9), .landing-grid--01 .brick:nth-child(11), .landing-grid--01 .brick:nth-child(14), .landing-grid--01 .brick:nth-child(15) {
        -ms-flex-basis: calc(50% - 30px);
        -webkit-flex-basis: calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }
}

@media(min-width:780px) {
    .landing-grid--01 .brick:nth-child(1) {
        -ms-flex-basis: calc(39% - 30px);
        -webkit-flex-basis: calc(39% - 30px);
        flex-basis: calc(39% - 30px)
    }
}

@media(min-width:790px) {
    .landing-grid--01 .brick:nth-child(4), .landing-grid--01 .brick:nth-child(5), .landing-grid--01 .brick:nth-child(6), .landing-grid--01 .brick:nth-child(7), .landing-grid--01 .brick:nth-child(8), .landing-grid--01 .brick:nth-child(9), .landing-grid--01 .brick:nth-child(11), .landing-grid--01 .brick:nth-child(14), .landing-grid--01 .brick:nth-child(15) {
        -ms-flex-basis: calc(25% - 30px);
        -webkit-flex-basis: calc(250px);
        flex-basis: calc(250px)
    }
}

@supports(display:grid) {
    .landing-grid--01 {
        grid-auto-rows: minmax(230px,auto);
        grid-gap: 30px
    }

        .landing-grid--01 .brick {
            height: auto;
            margin: 0;
            max-width: none;
            min-width: auto;
            width: auto
        }

            .landing-grid--01 .brick.brick--advertisement {
                min-width: 320px
            }

    @media screen and (min-width:552px) and (max-width:679.98px) {
        .landing-grid--01 {
            grid-template-columns: repeat(2,1fr)
        }

            .landing-grid--01 .brick .brick__title a {
                font-size: 1em
            }

            .landing-grid--01 .brick .brick__content div {
                font-size: 1em;
                line-height: 1.1em
            }

            .landing-grid--01 .brick:nth-child(1), .landing-grid--01 .brick:nth-child(2), .landing-grid--01 .brick:nth-child(3), .landing-grid--01 .brick:nth-child(6), .landing-grid--01 .brick:nth-child(9), .landing-grid--01 .brick:nth-child(10), .landing-grid--01 .brick:nth-child(12), .landing-grid--01 .brick:nth-child(13), .landing-grid--01 .brick:nth-child(15), .landing-grid--01 .brick:nth-child(3n+18) {
                grid-column: span 2
            }

            .landing-grid--01 .brick:nth-child(-n+6), .landing-grid--01 .brick:nth-child(10) {
                order: 1
            }

            .landing-grid--01 .brick:nth-child(n+7):nth-child(-n+9), .landing-grid--01 .brick:nth-child(11), .landing-grid--01 .brick:nth-child(14), .landing-grid--01 .brick:nth-child(15) {
                order: 2
            }

            .landing-grid--01 .brick:nth-child(12), .landing-grid--01 .brick:nth-child(13), .landing-grid--01 .brick:nth-child(n+16) {
                order: 3
            }
    }

    @media screen and (min-width:680px) and (max-width:1049.98px) {
        .landing-grid--01 {
            grid-auto-rows: minmax(40px,auto);
            grid-template-columns: repeat(2,1fr)
        }

            .landing-grid--01 .brick:nth-child(1) {
                grid-column: span 1;
                grid-row: span 5
            }

            .landing-grid--01 .brick:nth-child(n+2) {
                grid-column: span 1;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(-n+6), .landing-grid--01 .brick:nth-child(10) {
                order: 1
            }

            .landing-grid--01 .brick:nth-child(n+7):nth-child(-n+9), .landing-grid--01 .brick:nth-child(12) {
                order: 2
            }

            .landing-grid--01 .brick:nth-child(11), .landing-grid--01 .brick:nth-child(n+13) {
                order: 3
            }
    }

    @media screen and (min-width:1050px) and (max-width:1299.98px) {
        .landing-grid--01 {
            grid-auto-rows: minmax(40px,auto);
            grid-gap: 30px;
            grid-template-columns: repeat(30,1fr)
        }

            .landing-grid--01 .brick:nth-child(1) {
                grid-column: span 11;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(2) {
                grid-column: span 9;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(3), .landing-grid--01 .brick:nth-child(4), .landing-grid--01 .brick:nth-child(6), .landing-grid--01 .brick:nth-child(7), .landing-grid--01 .brick:nth-child(n+9):nth-child(-n+13), .landing-grid--01 .brick:nth-child(n+15) {
                grid-column: span 10;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(5), .landing-grid--01 .brick:nth-child(8), .landing-grid--01 .brick:nth-child(5n+14) {
                grid-column: span 20;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(-n+7), .landing-grid--01 .brick:nth-child(10) {
                order: 1
            }

            .landing-grid--01 .brick:nth-child(8), .landing-grid--01 .brick:nth-child(9), .landing-grid--01 .brick:nth-child(n+11) {
                order: 2
            }
    }

    @media screen and (min-width:1140px) and (max-width:1299.98px) {
        .landing-grid--01 .brick:nth-child(1) {
            grid-column: span 12
        }

        .landing-grid--01 .brick:nth-child(2) {
            grid-column: span 8
        }

        .landing-grid--01 .brick:nth-child(3) {
            grid-column: span 10
        }
    }

    @media screen and (min-width:1300px) {
        .landing-grid--01 {
            grid-auto-rows: minmax(40px,auto);
            grid-gap: 90px;
            grid-template-columns: repeat(4,1fr)
        }

            .landing-grid--01 .brick:nth-child(1) {
                grid-column: span 2;
                grid-row: span 6
            }

            .landing-grid--01 .brick:nth-child(n+2):nth-child(-n+5), .landing-grid--01 .brick:nth-child(7), .landing-grid--01 .brick:nth-child(n+10):nth-child(-n+14) {
                grid-column: span 1;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(6), .landing-grid--01 .brick:nth-child(8), .landing-grid--01 .brick:nth-child(9), .landing-grid--01 .brick:nth-child(15) {
                grid-column: span 2;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(n+17) {
                grid-column: span 1;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(16), .landing-grid--01 .brick:nth-child(5n+16):nth-child(odd), .landing-grid--01 .brick:nth-child(5n+17):nth-child(even) {
                grid-column: span 2;
                grid-row: span 4
            }

            .landing-grid--01 .brick:nth-child(-n+3), .landing-grid--01 .brick:nth-child(6) {
                order: 1
            }

            .landing-grid--01 .brick:nth-child(4), .landing-grid--01 .brick:nth-child(5), .landing-grid--01 .brick:nth-child(7), .landing-grid--01 .brick:nth-child(10) {
                order: 2
            }

            .landing-grid--01 .brick:nth-child(8), .landing-grid--01 .brick:nth-child(9), .landing-grid--01 .brick:nth-child(11), .landing-grid--01 .brick:nth-child(14) {
                order: 3
            }

            .landing-grid--01 .brick:nth-child(12), .landing-grid--01 .brick:nth-child(13), .landing-grid--01 .brick:nth-child(n+15) {
                order: 4
            }
    }
}

.landing-grid--03 .brick--default, .landing-grid--04 .brick--default, .landing-grid--05 .brick--default {
    height: 31rem;
    margin: 0
}

@media screen and (max-width:720px) {
    .landing-grid--03 .brick--default, .landing-grid--04 .brick--default, .landing-grid--05 .brick--default {
        height: auto
    }
}

@media screen and (max-width:720px) {
    .landing-grid--03, .landing-grid--04, .landing-grid--05 {
        grid-auto-rows: minmax(250px,auto)
    }
}

.landing-grid--single {
    grid-auto-rows: initial
}

@media screen and (min-width:719px) and (max-width:1049.98px) {
    .landing-grid--single .brick:nth-child(1) {
        grid-row: span 8
    }
}

@media screen and (max-width:720px) {
    .landing-grid--single {
        grid-template-columns: repeat(2,1fr);
        margin-top: 60px
    }

        .landing-grid--single .brick:nth-child(1) {
            grid-column: span 2;
            grid-row: span 8
        }
}

.page-providers .grid-page-layout--02 .section--lower-header {
    text-align: center
}

.grid-page-layout--02 .section--content {
    background-image: linear-gradient(182deg,#1f2935 0%,#1f2935 calc(100% - 75px),rgba(0,0,0,0) calc(100% - 73px),rgba(0,0,0,0) 100%);
    background-color: #f2f2f2;
    padding-bottom: 75px;
    z-index: 1 !important
}

    .grid-page-layout--02 .section--content::before {
        content: none
    }

@media all and (max-width:990px) {
    .grid-page-layout--02 .section--content .section__inner-wrapper, .grid-page-layout--02 .section--content .section__content {
        padding-bottom: 0
    }
}

.grid-page-layout--02 .article--landing-page {
    margin-top: 0
}

.grid-page-layout--02 .section--upper-footer {
    padding-top: 0
}

.grid-page-layout--02 .section.section--content-top {
    padding-bottom: 0;
    background: #1f2935
}

.grid-page-layout--02 .landing-grid--02 {
    padding-top: 1.5em;
    display: block;
    column-count: 4;
    column-gap: 3em
}

@media all and (max-width:1320px) {
    .grid-page-layout--02 .landing-grid--02 {
        column-count: 3
    }
}

@media all and (max-width:920px) {
    .grid-page-layout--02 .landing-grid--02 {
        column-count: 2
    }
}

@media all and (max-width:640px) {
    .grid-page-layout--02 .landing-grid--02 {
        column-count: 1
    }
}

.grid-page-layout--02 .landing-grid--02 .brick {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 1.5em 0
}

    .grid-page-layout--02 .landing-grid--02 .brick a {
        color: #000
    }

    .grid-page-layout--02 .landing-grid--02 .brick .brick__wrapper {
        background-clip: padding-box;
        box-shadow: none;
        padding: 2.28571em
    }

.grid-page-layout--02 .landing-grid--02 .brick__title {
    font-size: 1.8em;
    color: #000
}

    .grid-page-layout--02 .landing-grid--02 .brick__title a {
        color: #000;
        font-size: 1em
    }

.grid-page-layout--02 .landing-grid--02 .brick__content div {
    color: #000
}

.grid-page-layout--02 .landing-grid--02 .brick__content .bean__body > *:first-child {
    margin-top: 0
}

.grid-page-layout--02 .landing-grid--02 .brick__image {
    display: none
}

.grid-page-layout--02 .landing-grid--02 .brick__footer {
    display: block
}

.grid-page-layout--02 .article__feature_panels {
    margin-bottom: 60px;
    margin-top: 0;
    clear: both
}

    .grid-page-layout--02 .article__feature_panels .paragraphs-item-text, .grid-page-layout--02 .article__feature_panels .paragraphs-item-list {
        margin: 1.714285em 20px;
        background: #fff;
        border-radius: 2em;
        box-shadow: 0 7px 25px 0 rgba(0,0,0,.25);
        padding: 30px 40px
    }

        .grid-page-layout--02 .article__feature_panels .paragraphs-item-text:first-of-type, .grid-page-layout--02 .article__feature_panels .paragraphs-item-list:first-of-type {
            margin-left: 0
        }

        .grid-page-layout--02 .article__feature_panels .paragraphs-item-text:last-of-type, .grid-page-layout--02 .article__feature_panels .paragraphs-item-list:last-of-type {
            margin-right: 0
        }

@media all and (max-width:990px) {
    .grid-page-layout--02 .article__feature_panels .paragraphs-item-text, .grid-page-layout--02 .article__feature_panels .paragraphs-item-list {
        margin: 0 0 1em
    }
}

.grid-page-layout--02 .article__feature_panels .paragraphs-item-text__title, .grid-page-layout--02 .article__feature_panels .paragraphs-item-list__title {
    border: none
}

    .grid-page-layout--02 .article__feature_panels .paragraphs-item-text__title h2, .grid-page-layout--02 .article__feature_panels .paragraphs-item-list__title h2 {
        font-size: 1.8em;
        color: #000
    }

.grid-page-layout--02 div.brick-grid .brick--heavy.ucas-timeline__events-event {
    border-radius: 2em;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.25)
}

    .grid-page-layout--02 div.brick-grid .brick--heavy.ucas-timeline__events-event .brick__wrapper {
        padding: 25px 30px
    }

@media all and (max-width:640px) {
    .grid-page-layout--02 .article__feature_panels .paragraphs-item-list__title h2, .grid-page-layout--02 .section--upper-footer .brick__title, .grid-page-layout--02 .section--content .landing-grid--02 .brick__title, .grid-page-layout--02 .section--content .brick__title {
        font-size: 1.4em;
        margin-bottom: .62857em
    }

    .grid-page-layout--02 .article__feature_panels .paragraphs-item-list > .paragraphs_item__list_type > .view .views-field-title a {
        font-size: 1.2em
    }

    .grid-page-layout--02 .article__feature_panels .paragraphs-item-list {
        padding: 30px
    }

    .grid-page-layout--02 .ucas-timeline {
        border-bottom: solid 2px rgba(0,0,0,.2);
        margin-bottom: 2.5em !important;
        padding: 0;
        padding-bottom: 2.5em;
        min-height: auto
    }
}

@media all and (max-width:720px) {
    .grid-page-layout--02 .ucas-timeline__navigation-container.ucas-timeline__navigation--sticky > .ucas-timeline__navigation {
        right: 0;
        left: 0;
        padding-left: 25px;
        padding-right: 25px
    }
}

.landing-admin {
    color: #fff;
    display: flex;
    padding: 2em 0 .5em
}

@media all and (max-width:1320px) {
    .landing-admin {
        display: block
    }
}

.landing-admin a {
    color: #fff
}

.landing-admin .landing-admin__providers {
    flex-grow: 1;
    min-width: 200px;
    position: relative
}

.landing-admin .landing-admin__providers--active .landing-admin__provider-select {
    display: block
}

    .landing-admin .landing-admin__providers--active .landing-admin__provider-select button {
        display: block
    }

.landing-admin .landing-admin__providers--active .landing-admin__provider-active strong {
    color: #f5587a
}

    .landing-admin .landing-admin__providers--active .landing-admin__provider-active strong::before {
        transform: rotate(180deg)
    }

.landing-admin .landing-admin__provider-active button {
    background: 0 0;
    border: 0;
    color: #fff;
    display: none;
    margin: 0 30px 0 60px;
    max-width: calc(100% - 90px);
    padding: 0;
    text-align: left;
    vertical-align: top
}

@media all and (max-width:640px) {
    .landing-admin .landing-admin__provider-active button {
        margin-right: 0;
        max-width: calc(100% - 60px)
    }
}

.landing-admin .landing-admin__provider-active button::before {
    background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2011.9993%2C11.4981C%2010.6193%2C11.4981%209.4993%2C10.3791%209.4993%2C8.99813C%209.4993%2C7.61715%2010.6193%2C6.49813%2011.9993%2C6.49813C%2013.3803%2C6.49813%2014.4993%2C7.61715%2014.4993%2C8.99813C%2014.4993%2C10.3791%2013.3803%2C11.4981%2011.9993%2C11.4981%20Z%20M%2011.9993%2C1.99813C%208.13431%2C1.99813%204.99931%2C5.1321%204.99931%2C8.99813C%204.99931%2C14.2481%2011.9993%2C21.9981%2011.9993%2C21.9981C%2011.9993%2C21.9981%2018.9993%2C14.2481%2018.9993%2C8.99813C%2018.9993%2C5.1321%2015.8643%2C1.99813%2011.9993%2C1.99813%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') 50% 50%/30px 30px no-repeat;
    border: 4px solid #f5587a;
    border-radius: 30px;
    content: '';
    height: 40px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 40px
}

.landing-admin .landing-admin__provider-active button small {
    flex: 1 0 100%
}

.landing-admin .landing-admin__provider-active button strong {
    display: inline-block;
    font-size: 18px;
    max-width: 100%;
    overflow: hidden;
    padding-right: 35px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap
}

    .landing-admin .landing-admin__provider-active button strong:hover {
        cursor: pointer
    }

    .landing-admin .landing-admin__provider-active button strong::before {
        background: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23f5587a%22%20d%3D%22M7.41%2C8.58L12%2C13.17L16.59%2C8.58L18%2C10L12%2C16L6%2C10L7.41%2C8.58Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A') 100% 50%/30px 30px no-repeat;
        bottom: 0;
        content: '';
        right: 0;
        position: absolute;
        transform: rotate(0deg);
        transition: transform .2s;
        top: 0;
        width: 30px
    }

.landing-admin .landing-admin__provider-active button.provider-active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

    .landing-admin .landing-admin__provider-active button.provider-active:hover strong {
        color: #f5587a
    }

.landing-admin .landing-admin__provider-active--single:hover .provider-active, .landing-admin .landing-admin__provider-active--single:hover small, .landing-admin .landing-admin__provider-active--single:hover strong {
    cursor: default !important;
    color: #fff !important
}

.landing-admin .landing-admin__provider-active--single strong::before {
    background: 0 0 !important
}

.landing-admin .landing-admin__provider-select {
    position: absolute;
    top: 100%;
    padding-top: 10px;
    left: 50px;
    right: 0;
    bottom: 0;
    display: none
}

    .landing-admin .landing-admin__provider-select button {
        background-color: rgba(31,41,53,.95);
        border: 0;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        vertical-align: top;
        width: 100%
    }

        .landing-admin .landing-admin__provider-select button:hover {
            background-color: #f5587a;
            color: #fff;
            cursor: pointer
        }

.landing-admin .landing-admin__links {
    flex-grow: 0
}

@media all and (max-width:1320px) {
    .landing-admin .landing-admin__links {
        margin-top: 1em;
        padding-top: 1em;
        border-top: solid 1px rgba(255,255,255,.1)
    }
}

@media all and (max-width:640px) {
    .landing-admin .landing-admin__links {
        text-align: center
    }
}

.landing-admin .landing-admin__links ul {
    display: flex
}

@media all and (max-width:920px) {
    .landing-admin .landing-admin__links ul {
        flex-wrap: wrap
    }
}

.landing-admin .landing-admin__links ul li {
    padding-right: 35px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 200
}

@media all and (max-width:920px) {
    .landing-admin .landing-admin__links ul li {
        flex-basis: 50%;
        margin: 6px 0
    }
}

@media all and (max-width:640px) {
    .landing-admin .landing-admin__links ul li {
        flex-basis: 100%;
        padding-right: 0
    }
}

.landing-admin .landing-admin__links ul li.provider-active {
    display: block
}

.landing-admin .landing-admin__links ul li.provider-inactive {
    display: none
}

.landing-admin .landing-admin__links ul li strong {
    font-weight: 900
}

.landing-admin .landing-admin__links ul li:last-child {
    padding-right: 0
}

.landing-admin .landing-admin__links ul li a:hover {
    color: #f5587a
}

@media(max-width: 720px) {
    .region1 {
        width: 100% !important;
    }
}
