<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<div class="layui-card-body" style="text-align: center;">
    <h2 style="margin-top: 170px;margin-bottom: 20px;font-size: 28px;color: #91ADDC;">欢迎使用优能考用户报名管理平台!</h2>
    <img src="../../assets/images/welcome.png" style="max-width: 100%;">
</div>

@section css{

}

@section js{
}