@{
    Layout = "/Views/Shared/_Templete.cshtml";
}
<style>
    .front .section--content {
        background: transparent linear-gradient( 0deg,#f5f5f5,#f5f5f5);
        margin-top: initial;
    }
</style>
<div id="section--content" class="section section--content wrapper-background wrapper-background--angle ">
    <div class="section__inner-wrapper section__inner ">
        <div class="section__content">
            <div class="region region__content brick--main">
                <article class="node node-landing-page article article--landing-page article--view-full article-type--landing_page prose clearfix">
                    <div class="article__paragraphs">
                        <div class="entity entity-paragraphs-item paragraphs-item-content-blocks entity-paragraphs-item--full">
                            <div class="content">

                                <div class="wrapper wrapper--padding">
                                    <div class="landing-grid landing-grid--03 grid grid--equal-height grid--max-h3 grid--padding-extra-wide" id="courseContent">
                                        <div class="brick brick--home---explore-your-options grid__item brick--default">

                                            <div class="brick__wrapper clearfix contextual-links-region brick__wrapper--has-background">

                                                <div class="brick__image background-image--loaded" style="background-image: url('');"></div>

                                                <h2 class="brick__title"><a>Explore your options</a></h2>

                                                <div class="brick__content">
                                                    <div class="bean__body prose">
                                                        <span>The personalised space to help you make the next step</span>
                                                    </div>
                                                </div>

                                                <div class="brick__footer">
                                                    <a>Explore <strong>more ›</strong></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/html" id="courseTeplate">
        {{each data item index}}
        <div class="brick brick--home---explore-your-options grid__item brick--default">

            <div class="brick__wrapper clearfix contextual-links-region brick__wrapper--has-background">

                <div class="brick__image background-image--loaded" style="background-image: url(&quot;{{item.ImgUrl}}?itok=nVeGbiDX&quot;);"></div>

                <h2 class="brick__title"><a href="/Home/Detail?id={{item.Id}}&type=course">{{item.CourseName}}</a></h2>

                <div class="brick__content">
                    <div class="bean__body prose">
                        <span>{{item.CourseTitle}}</span>
                    </div>
                </div>

                <div class="brick__footer">
                    <a>Explore <strong>more ›</strong></a>
                </div>
            </div>

        </div>
        {{/each}}
    </script>
    <script type="text/javascript">
        $(function () {
            $("#muenUl").find("li").find("a").removeClass("activeA");
            $("#muenUl").find("li").find("a[data-class='course']").addClass("activeA");
        })
        //绑定课程列表
        ajaxRequst("post", "Home/BindCourse", { page:1, pagesize: 50 }, function (data) {
            if (data != null && data.code != undefined && data.code != null && data.data != null) {
                var html = "";
                html = template("courseTeplate", { data: data.data });
                document.getElementById("courseContent").innerHTML = html;
            }
        });
    </script>
}