@{
    Layout = "/Views/Shared/_Templete.cshtml";
    var keyId = ViewBag.Id;
    var type = ViewBag.type;
}
<style>
    .front .section--content {
        background: transparent linear-gradient( 0deg,#f5f5f5,#f5f5f5);
        margin-top: initial;
    }

    .article__content .article__paragraphs > .entity-paragraphs-item {
        margin-left: initial;
        margin-right: initial;
        max-width: initial;
    }
</style>
<div id="section--content" class="section section--content ">
    <div class="section__inner-wrapper section__inner wrapper ">
        <div class="section__content">
            <div class="region region__content brick--main region--content">

                <article class="node node-news article article--news article--view-full article-type--news prose clearfix">

                    <div class="article__content">
                        <div class="article__summary" id="acticleTitle" style="text-align:center">
                            Dr Alex George, the online campaigner and recently appointed government Youth Mental Health Ambassador
                        </div>
                        <div class="article__paragraphs">

                            <div class="entity entity-paragraphs-item paragraphs-item-text entity-paragraphs-item--narrow paragraphs-item-text--">
                                <div class="content wrapper">
                                    <div class="paragraphs_item__body prose" id="acticleContent">


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#muenUl").find("li").find("a").removeClass("activeA");
            $("#muenUl").find("li").find("a[data-class='@type']").addClass("activeA");
        })
        //绑定课程列表
        ajaxRequst("post", "Home/FindDetail", { Id:@keyId,type:"@type"}, function (data) {
            if (data != null && data.code != undefined && data.code != null && data.data != null) {
                $("#acticleTitle").html(data.data.Title);
                $("#acticleContent").html(data.data.Content);
                console.log(data);
            }
        });
    </script>
}